<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Member">

	<!-- 회원목록 페이징 -->
	<select id="mList" resultType="member">
		SELECT * FROM MEMBERT
	</select>


	<!-- 로그인(MPW값 가져오기) -->
	<select id="mLogin" parameterType="String" resultType="String">
		SELECT MPW FROM MEMBERT WHERE MID = #{mId}
	</select>

	<!-- 회원가입 -->
	<insert id="mJoin" parameterType="member">
		INSERT INTO MEMBERT VALUES( #{mId}, #{mPw}, #{mName}, #{mBirth}, 
		#{mGender}, #{mEmail}, #{mPhone}, #{mAddr}, #{mProfileName})
	</insert>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" parameterType="String" resultType="String">
		SELECT MID FROM MEMBERT WHERE MID = #{mId}
	</select>
	
	<select id="mSearch" parameterType="search" resultType="member">
		SELECT * FROM MEMBERT WHERE ${category} LIKE '%${keyword}%'
	</select>
	
	<select id="mView" parameterType="String" resultType="member">
		SELECT * FROM MEMBERT WHERE MID = #{mId}
	</select>
	
	<update id="mModify" parameterType="member">
		UPDATE MEMBERT SET MNAME=#{mName}, MBIRTH=#{mBirth}, MGENDER=#{mGender}, MEMAIL=#{mEmail},
		MPHONE=#{mPhone}, MADDR=#{mAddr}, MPROFILENAME=#{mProfileName} WHERE MID=#{mId}
	</update>
	
	<update id="changePw" parameterType="member">
		UPDATE MEMBERT SET MPW=#{mPw} WHERE MID=#{mId}
	</update>
	
	<delete id="mDelete" parameterType="member">
		DELETE FROM MEMBERT WHERE MID = #{mId}
	</delete>
	
	<!-- joinTest -->
	<select id="joinTest" parameterType="member" resultType="test">
		SELECT * 
		FROM BOARDT B, MEMBERT M 
		WHERE B.BWRITER = M.MID AND M.MID = #{mId}
	</select>
	
</mapper>
	